/** COLORS **/
$primary-color: #252c41;
$primary-lightest: lighten($primary-color, 20%);
$primary-lighter: lighten($primary-color, 10%);
$primary-darkest: darken($primary-color, 14%);
$primary-darker: darken($primary-color, 10%);

$accent-color: #f1404b;
$accent-light: lighten($accent-color, 10%);
$accent-lightest: lighten($accent-color, 15%);
$accent-dark: darken($accent-color, 10%);
$accent-darkest: darken($accent-color, 15%);

$background: white;
