/** COLORS **/
$primary-color: #252c41;
$lightest-color: lighten($primary-color, 20%);
$lighter-color: lighten($primary-color, 10%);
$darkest-color: darken($primary-color, 14%);
$darker-color: darken($primary-color, 10%);

$accent-color: #f1404b;
$accent-light: lighten($accent-color, 10%);
$accent-lightest: lighten($accent-color, 15%);
$accent-dark: darken($accent-color, 10%);
$accent-darkest: darken($accent-color, 15%);
