/** COLORS **/
body {
  background-color: black; }

.nav-wrapper {
  background-color: black; }

.nav-wrapper a:hover {
  color: green; }

.brand-logo {
  margin-left: 25px; }

.splash-page {
  height: 350px;
  border-bottom: 1px solid black;
  padding-top: 25px; }

.get-started {
  background-color: #b3b3b3; }

#get-started-slogan {
  text-align: center;
  color: black; }

#join-button {
  margin-left: 45%; }

.btn {
  width: 180px; }

.more-info {
  background-image: url("../img/stock-market.jpeg");
  text-align: center;
  color: white; }

.team-info {
  background-color: #b3b3b3;
  text-align: center;
  color: black; }

.league-container {
  margin-left: 50px;
  margin-right: 50px; }

.leaderboard-container {
  background-color: white; }

.ng-modal {
  max-height: 90%; }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 100%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }

.signup {
  margin: 10% 10% 10% 10%; }

.botBar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #252c41;
  color: white;
  z-index: 999; }
  .botBar span {
    display: inline-block; }
  .botBar input {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    color: black; }

.tdcenter {
  text-align: center; }

.curs {
  cursor: pointer; }

.posted-messages {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
