@import "_variables";

body {
	background-color: $background;
}

footer {
  background: linear-gradient(to right, $primary-color, $primary-darker);
	color: white;
}

a{
	color: $accent-color;
	&:hover{
		color: $accent-lightest;
	}
}

.nav-wrapper {
	background-color: $primary-color;
}

.nav-wrapper a:hover {
	color: $accent-color;
}

.brand-logo {
	margin-left: 25px;
}

.splash-page {
	height: 350px;
	border-bottom: 1px solid black;
	padding-top: 25px;
}

.get-started {
	background-color: $primary-lightest;
}

#get-started-slogan {
	text-align: center;
	color: $accent-color;
}

#join-button {
	margin-left: 45%;
}

.btn {
  width: 180px;
}

.more-info {
	background-image: url("../img/stock-market.jpeg");
	text-align: center;
	color: white;
}

.team-info {
	background-color: $primary-color;
	text-align: center;
	color: black;
}

.league-container {
  margin-left: 50px;
  margin-right: 50px;
}

.leaderboard-container {
  background-color: white;
}

.ng-modal {
  max-height:90%;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 100%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.signup {
  margin: 10% 10% 10% 10%;

}

.botBar {
	position: fixed;
  bottom: 0px;
  width: 100%;
	height: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: $primary-color;
	color: white;

	z-index: 999;
	span {
		display: inline-block;
    margin-top: 13px;
    margin-bottom: 10pxs;
	}
	input {
    margin-top: 5px;
    margin-bottom: 5px;
		background-color: white;
		border-radius: 10px;
    height: 80%;
		width: 100%;
		color: black;
	}
}

.tdcenter{
  text-align: center;
}

.curs{
  cursor: pointer;
}

.posted-messages{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.searchquote{
  font-size: 30pt;
  padding-top: 1px;
  margin-top: 1px;
}

.search-bar-title {
  vertical-align: middle;
}

.search-symbol {
  margin-top: 10px;
}

.clock {
	padding: 5px;
	margin-right: 20px;
	background-color: $accent-color;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.std-btn {
	background-color: $accent-color;
	&:hover {
		background-color: $accent-darkest;
	},
	&:visited {
		background-color: $accent-color;
	},
	&:active{
		background-color: $accent-color;
	}
}

.footer-color {
	background-color: $primary-lighter;
	color: white;
}

.portfolio-content{
	margin-top: 0px;
	border-radius: 0px;
	padding-top: 10px;
}

.sell-button{
	display: block;
	margin: 0px auto;
}
.company-name{
	margin: 0px auto;
	text-align:  center;
	display: block;
	font-size: 0.8em;
	overflow: hidden;
  width: 105px;
  text-overflow: ellipsis;
}
.company-symbol{
	margin: 0px auto;
	text-align:  center;
	padding-bottom: 0px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -5px;
}

.widget{
	margin-top: 0px;
}

.widget-container{
	margin-top: 0px;
}

.trade-button{
	width: 80%;
	display: block;
	margin: 0px auto;
	margin-top: 20px;
}

.stockAmount, .stockAmount:focus{
  border: none!important;
  height: auto!important;
  text-align: center;
}

.action-toggle{
	padding: 10px 0px;
}

.stock-calculator{
	margin-top: 20px;
  margin-bottom: 50px;
}

/*.stock-calculator section{
	display: inline-block;
	margin-right: 5px;
}*/

.stock-calculator section span{
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
  display: block;
}

.stock-calculator section .chip{
	font-size: 18px;
  text-align: center;
  width: 75px;
  border: solid 1px #DDDDDD;
  width: 100%;
}

.stock-data p{
	margin: 0px;
	font-size: 0.8em;
}

.stock-data .sym{
	font-size: 30px;
	text-transform: uppercase;
}

.stock-data .comp{
	margin-top: -8px;
	margin-left: 2px;
}

.stock-data .price{
	font-weight: bold;
	margin-top: 10px;
	color: green;
}

.larger{
	font-size: 1.5em
}
.action-title{
	margin: 5px;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}


/*.portfolio-search input{
	display: inline-block;
	width: 70%;
}
.portfolio-search a.btn{
	display: inline-block;
	width: 25%;
}
*/
th{
	font-size: 0.8em;
	text-align: center;
}

/* leagueResults page */


.winner{
	text-align: center;
}

.winnerStats {
    display: flex;
}
.winner .star{
	font-size: 12em;
	color: #CDA500;
}

.winnerName{
	margin-top: 0px;
	font-size: 1.5em;
}

.winnerName span{
	text-transform: uppercase;
	font-weight: bold;
}

.statsHeader{
	width: 100%;
	padding:5px 0px
}

.winnerStats span {
	font-size: 1.2em;
	text-transform: uppercase;
	display: block;
	padding: 10px 0px;
}

.news-container {
  background-color: white;
  height: 400px;
  width: 500px;
  overflow-x: scroll;
	position: relative;
}

.col s12 {
  width: 100px;
  overflow-x: auto;
}

.card-panel teal {
  width: 100px;
  height: 300px;
  border: black
}

.tweets {
  position: absolute;
}

.myPortfolio {
	margin-top: 10px;
}

.bot-search {
	margin: 10px;
}
