/** COLORS **/
html {
  height: 100%; }

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background: #D4D6D8; }

footer {
  background: linear-gradient(to right, #252c41, #131621);
  color: white; }

a {
  color: #f1404b; }

pre {
  font-family: 'Montserrat', sans-serif; }

.nav-wrapper {
  background-color: #313A43; }

.nav-wrapper a:hover {
  color: #f1404b; }

.brand-logo {
  margin-left: 10px; }

.splash-page {
  padding-top: 25px;
  padding-bottom: 50px; }

.get-started {
  background-color: #E34C52;
  color: white;
  height: calc(100vh - 64px);
  min-height: 500px;
  background-image: url("../img/team.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; }

#get-started-slogan {
  text-align: center;
  margin-bottom: 40px; }

#join-button {
  display: block;
  margin: 0px auto;
  text-align: center; }

.more-info {
  background-image: url("../img/stock-market.jpeg");
  text-align: center;
  background: #ECC132;
  color: white; }
  .more-info .title {
    color: #F6E7B3; }
  .more-info .card-panel {
    background: #F6E7B3;
    padding: 20px;
    font-size: 1.2em;
    color: #2C3D50; }

footer.page-footer {
  margin-top: 0px; }

.brand-img {
  background-size: contain;
  background-image: url("../img/money.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: 6px;
  margin-left: 25px; }

.team-info {
  background-color: #F39C12;
  text-align: center;
  color: black; }
  .team-info .title {
    color: #FBE4C0;
    margin-bottom: 50px; }
  .team-info .card-content {
    padding: 10px;
    min-height: 90px;
    background: #FBE4C0;
    color: #2C3D50; }

.league-container {
  margin-left: 50px;
  margin-right: 50px; }

.leaderboard-container {
  background-color: white; }

.secretCode {
  margin: 0px 6px !important; }

.ng-modal {
  max-height: 90%; }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 100%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }

.signup {
  margin: 10% 10% 10% 10%; }

.botBar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4em;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #252c41;
  color: white;
  z-index: 999; }
  .botBar span {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 10pxs; }
  .botBar input {
    background-color: white;
    width: 100%;
    color: black;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px; }

.tdcenter {
  text-align: center; }

.curs {
  cursor: pointer; }

.posted-messages {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.searchquote {
  font-size: 30pt;
  padding-top: 1px;
  margin-top: 1px; }

.search-bar-title {
  margin-top: 15px;
  vertical-align: middle; }

.search-symbol {
  margin-top: 10px; }

/*.clock {
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: $primary-color;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 64px;
	width: 200px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	overflow: hidden;
}*/
.clock {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 0px 10px;
  min-width: 310px;
  margin: 0px 15px;
  height: 50px; }
  .clock::before {
    color: #D49B9E; }

.std-btn {
  background-color: #f1404b; }
  .std-btn:hover {
    background-color: #d5101c; }
  .std-btn, .std-btn:visited {
    background-color: #f1404b; }
  .std-btn, .std-btn:active {
    background-color: #f1404b; }

.footer-color {
  background-color: #313A43;
  color: white; }

.portfolio-content {
  margin-top: 0px;
  border-radius: 0px;
  padding-top: 10px; }

.sell-button {
  display: block;
  margin: 0px auto; }

.company-name {
  margin: 0px auto;
  text-align: center;
  display: block;
  font-size: 0.8em;
  overflow: hidden;
  width: 105px;
  text-overflow: ellipsis; }

.company-symbol {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 0px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -5px; }

.widget {
  margin-top: 0px; }

.widget-container {
  margin-top: 0px; }

.trade-button {
  width: 80%;
  display: block;
  margin: 0px auto;
  margin-top: 20px; }

.stockAmount, .stockAmount:focus {
  border: none !important;
  height: auto !important;
  text-align: center; }

.action-toggle {
  padding: 10px 0px; }

.stock-calculator {
  margin-top: 20px;
  margin-bottom: 50px; }

/*.stock-calculator section{
	display: inline-block;
	margin-right: 5px;
}*/
.stock-calculator section span {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  display: block; }

.stock-calculator section .chip {
  font-size: 18px;
  text-align: center;
  width: 75px;
  border: solid 1px #DDDDDD;
  width: 100%; }

.stock-data p {
  margin: 0px;
  font-size: 0.8em; }

.stock-data .sym {
  font-size: 30px;
  text-transform: uppercase; }

.stock-data .comp {
  margin-top: -8px;
  margin-left: 2px; }

.stock-data .price {
  font-weight: bold;
  margin-top: 10px;
  color: green; }

.larger {
  font-size: 1.5em; }

.action-title {
  margin: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold; }

/*.portfolio-search input{
	display: inline-block;
	width: 70%;
}
.portfolio-search a.btn{
	display: inline-block;
	width: 25%;
}
*/
th {
  font-size: 0.8em;
  text-align: center; }

/* leagueResults page */
.winner {
  text-align: center; }

.winnerStats {
  display: flex; }

.winner .star {
  font-size: 12em;
  color: #CDA500; }

.winnerName {
  margin-top: 0px;
  font-size: 1.5em; }

.winnerName span {
  text-transform: uppercase;
  font-weight: bold; }

.statsHeader {
  width: 100%;
  padding: 5px 0px; }

.winnerStats span {
  font-size: 1.2em;
  text-transform: uppercase;
  display: block;
  padding: 10px 0px; }

.news-container {
  background-color: transparent;
  position: relative; }
  .news-container .getTweets {
    position: absolute; }
  .news-container .row {
    height: 440px;
    overflow-x: scroll;
    overflow-x: scroll; }

.twittermessage {
  font-weight: 600;
  color: #008080; }

.twitteruser {
  font-size: 10px; }

.col s12 {
  width: 100px;
  overflow-x: auto; }

.card-panel teal {
  width: 100px;
  height: 300px;
  border: black; }

.tweets {
  position: absolute; }

.myPortfolio {
  margin-top: 10px; }

.bot-search {
  margin: 10px; }

.cancelbutton {
  content: url(./../../img/cancelbutton.png); }

.dashboard-wrapper {
  background: #D4D6D8;
  height: 100%; }
  .dashboard-wrapper .header h2 {
    margin: 30px 0px; }
  .dashboard-wrapper .header h7 {
    margin: 10px; }
  .dashboard-wrapper .header .card-panel {
    padding: 10px;
    min-height: 145px; }
  .dashboard-wrapper .tables {
    margin-bottom: 160px; }

.tab-highlight {
  background: rgba(238, 110, 115, 0.38); }

.clickable {
  pointer-events: initial;
  cursor: pointer; }

.app-video img {
  width: 100%;
  height: 246px; }

.league-wrapper {
  background: #D4D6D8; }
  .league-wrapper .brand-logo {
    font-size: 1.5rem; }

.messageboard-box {
  margin-bottom: 100px; }

.symbol-button input#first_name2 {
  margin-left: 60px; }

.account-container nav {
  height: 50px;
  line-height: 50px; }

.account-container .account-menu {
  margin-top: 40px; }

.account-container .nav-wrapper {
  background: #444; }

.account-container form {
  border: 1px solid #e0e0e0;
  padding: 20px 30px; }
  .account-container form button {
    margin: 20px 0px; }
  .account-container form .submit-container {
    text-align: center; }

.account-container .buttons {
  margin-top: 20px; }

.account-container .myPortfolio {
  margin-bottom: 120px; }

.account-container .material-icons-span {
  vertical-align: top; }

.profile-container .info-box {
  border: 1px solid #eee;
  margin: 10px 0px; }

.profile-container .profile-content {
  margin-bottom: 150px; }

.profile-container .info-box-header p {
  margin: 0px;
  text-align: center;
  padding: 10px 10px; }

.profile-container .display-pic {
  margin-top: 30px; }
  .profile-container .display-pic img {
    width: 100%; }
