/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  background-color: black; }

.nav-wrapper {
  background-color: black; }

.nav-wrapper a:hover {
  color: green; }

.brand-logo {
  margin-left: 25px; }

.splash-page {
  height: 350px;
  border-bottom: 1px solid black;
  padding-top: 25px; }

.get-started {
  background-color: #b3b3b3; }

#get-started-slogan {
  text-align: center;
  color: black; }

#join-button {
  margin-left: 45%; }

.btn {
  width: 180px; }

.more-info {
  background-image: url("../img/stock-market.jpeg");
  text-align: center;
  color: white; }

.team-info {
  background-color: #b3b3b3;
  text-align: center;
  color: black; }

.league-container {
  margin-left: 50px;
  margin-right: 50px; }

.leaderboard-container {
  background-color: white; }
