
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfol.io</title>

  <!-- CSS styling -->

  <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Angular and jQuery CDNs -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>



</head>

 <!-- adding angular app to site -->
<body ng-app="app" ng-controller="SigninController">

  <!-- Top Navigation Bar -->

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Portfol.io</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ng-click="toggleLogin()">Login</a></li>
          <li><a ng-click="toggleSignup()">Sign Up</a></li>
        </ul>
      </div>
    </nav>

    <login-directive show='showlogin' width='350px' height='400px'>
      <div ng-if="showlogin" class="signup">
        <h1 class="brand-logo"> Log In </h1>
        <form name="signinForm" ng-submit='signin(user)'>
          <label>Email </label><br>
          <input type='text' ng-model='user.email' required>
          <br>
          <label>Password </label><br>
          <input type="password" ng-model='user.password' required><br>
          <br>
          <button class="waves-effect waves-light btn">Log In</button>
        </form>
      </div>
    </login-directive>

    <signup-directive show='showsignup' width='350px' height='500px'>
      <div ng-if="showsignup" class="signup">
        <h1 class="brand-logo"> Sign Up </h1>
        <form name="signinForm" ng-submit='signup(user)'>
          <label>User Name </label><br>
          <input type='text' ng-model='user.username' required>
          <br>
          <label>Email </label><br>
          <input type='text' ng-model='user.email' required>
          <br>
          <label>Password </label><br>
          <input type="password" ng-model='user.password' required><br>
          <br>
          <button class="waves-effect waves-light btn">Sign Up</button>
        </form>
      </div>
    </signup-directive>

  <!-- Angular view goes here -->
  <div ui-view></div>

  <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
  </footer>


  <!-- script files -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="app.config.js"></script>
  <script type="text/javascript" src="account/accountController.js"></script>
  <script type="text/javascript" src="faqs/faqsController.js"></script>
  <script type="text/javascript" src="league/leagueController.js"></script>
  <script type="text/javascript" src="lobby/lobbyController.js"></script>
  <script type="text/javascript" src="portfolio/portfolioController.js"></script>
  <script type="text/javascript" src="profile/profileController.js"></script>
  <script type="text/javascript" src="signin/signinController.js"></script>
  <script type="text/javascript" src="leaderboard/leaderBoardController.js"></script>



</body>
</html>

