<div class="dashboard-wrapper">
  <div class="container">
    <!-- Initial Card for the Header -->
    <div class="row header">
      <div class="col s12 l8">
        <div class="card-panel z-index-5 center">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card-panel z-index-5 center">
          <section>
            <h7 class="btn std-btn" ng-click="toggleAdd()">Create League</h7>
          </section>
          <div class="divider"></div>
          <section>
            <h7 class="btn std-btn" ng-click="joinPrivate()">Join Private League</h7>
          </section>
        </div>
      </div>
    </div>
    <!-- Sets up the tabs -->
    <div class="row card tables">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3 m5 clickable" ng-class="currentTab === 'user' ? 'tab-highlight' : ''" ng-click="showUserLeagues()"><span  class="active" href="#test2">Leagues You Are In</span></li>
          <li ng-class="currentTab === 'toJoin' ? 'tab-highlight' : ''" class="tab col s3 m5 clickable" ng-click="showToJoin()"><span  href="#test1">Available Leagues To Join</span></li>
        </ul>
        <div class="divider"></div>
      </div>
      <div ng-show="currentTab === 'user'">
        <!-- If user is in leagues, prompt to join -->
        <div ng-if="portfolios.length > 0">

          <div class="col s12">

            <table class="highlight responsive-table table centered">
              <thead>
                <tr>
                  <th data-field="name">League Name</th>
                  <th data-field="rank">Cash Balance</th>
                  <th data-field="rank">Stock Value</th>
                  <th data-field="rank">Total Value</th>
                </tr>
              </thead>


              <tbody>
                <tr ng-repeat="portfolio in portfolios">
                  <td><a ng-href="#/leagues/{{portfolio.leagueId}}">{{portfolio.leaguename}}</a></td>
                  <td>{{portfolio.balance | currency}}</td>
                  <td>{{portfolio.portfolioValue | currency}}</td>
                  <td>{{portfolio.balance + portfolio.portfolioValue | currency}}</td>
                </tr>
              </tbody>
            </table>

          </div>
            <!-- If the user is not in leagues, prompt them to join one -->
          <div class="col s12" ng-if="portfolios.length === 0">
            <div class="card grey lighten-2 center">
              <div class="card-content ">
                <span class="card-title">What?</span>
                <p>It looks like you haven't joined any leagues yet. :(
                  <br> Don't worry. It's incredibly easy to get started.</p>
              </div>
              <div class="card-action">
                <a href="#">Check Out Available Leagues</a>
              </div>
            </div>
          </div>

        </div>
        <!-- If user is in leagues, show those -->
        <div class="col s12" ng-if="portfolios.length === 0">
          <div class="card grey lighten-2 center">
            <div class="card-content">
              <span class="card-title">What?</span>
              <p>It looks like you haven't joined any leagues yet. :(
                <br> Don't worry. It's incredibly easy to get started.</p>
            </div>
            <div class="card-action">
              <a href="#">Check Out Available Leagues</a>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="currentTab === 'toJoin'">
          <div  ng-if="leagues.length > 0">
            <div class="col s12">

            <table class="highlight responsive-table table centered">
              <thead>
                <tr>
                  <th data-field="name">League Name</th>
                  <th data-field="rank">Spots Left</th>
                  <th data-field="percentChange">Start Balance</th>
                  <th data-field="leagueLength">Duration</th>
                  <th data-field="totVal">Join</th>
                </tr>
              </thead>


              <tbody ng-repeat="league in leagues | filter: notjoined | filter: notprivate | filter: notfull | filter: notstarted">
                <tr >
                  <td>{{league.name}}</td>
                  <td>{{league.maxNum - league.usersJoined}} of {{league.maxNum}}</td>
                  <td>{{league.startbalance | currency}}</td>
                  <td>Weekly</td>
                  <td ><a class="curs" ng-click="joinLeague(league.id)">Click to Join</a></td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
          <!-- Prompt user to create  league if none exist -->
          <div class="col s12" ng-if="numtojoin === 0">
            <div class="col s12" ng-if="portfolios.length === 0">
              <div class="card grey lighten-2 center">
                <div class="card-content">
                  <span class="card-title">Uh Oh!</span>
                  <p>It looks like there are no currently available public leagues. If you would like to make, be our guest.</p>
                </div>
                <div class="card-action">
                  <a href="#">Create a League</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <addleague-directive show='showadd' width='450px' height='650px'>
      <div ng-if="showadd" class="signup">
        <h4 class="brand-logo"> Create League </h4>
        <form name="addleagueForm" ng-submit='addLeague(league)'>
          <br>
          <label>Name:</label><br>
          <input type='text' ng-model='league.name' required>
          <br>
          <label>Max User #: </label><br>
          <input type="text" ng-model='league.max' required>
          <br>
          <label>Buying Power: </label><br>
          <input type="text" ng-change="ll()" ng-model='league.balance' required>
          <br>
          <label>Start: </label><br>
          <input type="date" id="startdate" ng-model='league.start' ng-click="pickstart()">
          <label>End Date: </label><br>
          <input type="date" id="enddate" ng-model='league.end' ng-click="pickend()">
          <span>
            <input name="isPrivate" ng-model="league.isPrivate" value="false" type="radio" id="test1" />
            <label for="test1">Public League</label>
          </span>
          <span>
            <input name="isPrivate" ng-model="league.isPrivate" value="true" type="radio" id="test2" />
            <label for="test2">Private League</label>
          </span>
          <button class="waves-effect waves-light btn std-btn center">Create</button>
        </form>
      </div>
      </addleague-directive>

  </div>
</div>

