<div class="container">
  <!-- Initial Card for the Header -->
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel z-index-5">
        <h2>Dashboard</h2>
        <h7 class="btn std-btn" ng-click="toggleAdd()">Create League</h7>
      </div>
    </div>
  </div>
  <!-- Sets up the tabs -->
  <div class="row">
    <div class="col s9">
      <ul class="tabs">
        <li class="tab col s3 m5"><span ng-click="showToJoin()">Leagues To Join</span></li>
        <li class="tab col s3 m5"><span ng-click="showUserLeagues()" class="active" href="#test2">Leagues You Are In</span></li>
      </ul>
    </div>
  </div>

  <addleague-directive show='showadd' width='350px' height='650px'>
    <div ng-if="showadd" class="signup">
      <h4 class="brand-logo"> Create League </h4>
      <form name="addleagueForm" ng-submit='addLeague(league)'>
        <br>
        <label>Name:</label><br>
        <input type='text' ng-model='league.name' required>
        <br>
        <label>Max User #: </label><br>
        <input type="text" ng-model='league.max' required>
        <br>
        <label>Buying Power: </label><br>
        <input type="text" ng-model='league.balance' required>
        <br>
        <input type="date" class="datepicker" ng-model='league.start' format-date>
        <input type="date" class="datepicker" ng-model='league.end' format-date>
        <button class="waves-effect waves-light btn std-btn">Create</button>
      </form>
    </div>
  </addleague-directive>

  <div class="row" ng-show="currentTab === 'user'">
    <!-- If user is in leagues, prompt to join -->
    <div ng-if="portfolios.length > 0">

      <div class="col s9 card">

        <table class="highlight responsive-table table">
          <thead>
            <tr>
              <th data-field="name">League Name</th>
              <th data-field="rank">Cash Balance</th>
              <th data-field="rank">Stock Value</th>
              <th data-field="rank">Total Value</th>
            </tr>
          </thead>


          <tbody>
            <tr ng-repeat="portfolio in portfolios">
              <td><a ng-href="#/leagues/{{portfolio.leagueId}}">{{portfolio.leaguename}}</a></td>
              <td>{{portfolio.balance}}</td>
              <td>{{portfolio.portfolioValue}}</td>
              <td>{{portfolio.balance + portfolio.portfolioValue}}</td>
            </tr>
          </tbody>
        </table>

      </div>
        <!-- If the user is not in leagues, prompt them to join one -->
      <div class="col s12 m6" ng-if="portfolios.length === 0">
        <div class="card blue-grey darken-1 z-depth-4">
          <div class="card-content white-text">
            <span class="card-title">What?</span>
            <p>It looks like you haven't joined any leagues yet. :(
              <br> Don't worry. It's incredibly easy to get started.</p>
          </div>
          <div class="card-action">
            <a href="#">Check Out Available Leagues</a>
          </div>
        </div>
      </div>

    </div>
    <!-- If user is in leagues, show those -->
    <div class="col s12 m6" ng-if="portfolios.length === 0">
      <div class="card blue-grey darken-1 z-depth-4">
        <div class="card-content white-text">
          <span class="card-title">What?</span>
          <p>It looks like you haven't joined any leagues yet. :(
            <br> Don't worry. It's incredibly easy to get started.</p>
        </div>
        <div class="card-action">
          <a href="#">Check Out Available Leagues</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="currentTab === 'toJoin'">
      <div  ng-if="leagues.length > 0">
        <div class="col s9 card">

        <table class="highlight responsive-table table">
          <thead>
            <tr>
              <th data-field="name">League Name</th>
              <th data-field="rank">Max Users</th>
              <th data-field="percentChange">Start Balance</th>
              <th data-field="totVal">Join</th>
            </tr>
          </thead>


          <tbody ng-repeat="league in leagues | filter: notjoined ">
            <tr >
              <td>{{league.name}}</td>
              <td>{{league.maxNum}}</td>
              <td>{{league.startbalance}}</td>
              <td ><a class="curs" ng-click="joinLeague(league.id)">Click to Join</a></td>
            </tr>
          </tbody>
        </table>

      </div>
      </div>
      <!-- Prompt user to create  league if none exist -->
      <div class="col s12 m6" ng-if="numtojoin === 0">
        <div class="card blue-grey darken-1 z-depth-4">
          <div class="card-content white-text">
            <span class="card-title">Uh oh!</span>
            <p>It looks like there are no currently available public leagues. If you would like to make, be our guest.
          </div>
          <div class="card-action">
            <!-- TODO: Set up the correct route -->
            <a href="#">Create a League</a>
          </div>
        </div>
      </div>
    </div>
    <script>
    console.log('ran ran ran');
    </script>
</div>
