<div class="splash-page get-started">

  <div id="get-started-slogan">
    <h2>Bringing Wall Street to You</h2>
    <h4>Compete and Put Together a Winning Stock Portfolio Today!</h4>
    </h2>
  </div>
  <br>
  <div id="join-button">
    <a ng-show="!loggedin" class="waves-effect waves-light btn-large" ng-click="toggleSignup()">Start Trading</a>
  </div>


</div>

<signup-directive show='showsignup' width='350px' height='500px'>
  <div ng-if="showsignup" class="signup">
    <h1 class="brand-logo"> Sign Up </h1>
    <form name="signinForm" ng-submit='signup(user)'>
      <label>User Name </label><br>
      <input type='text' ng-model='user.username' required>
      <br>
      <label>Email </label><br>
      <input type='email' ng-model='user.email' required>
      <br>
      <label>Password </label><br>
      <input type="password" ng-model='user.password' required><br>
      <br>
      <button class="waves-effect waves-light btn std-btn">Sign Up</button>
    </form>
  </div>
</signup-directive>

<div class="splash-page more-info">
  <div class="container row">
    <h3 class="title">What is Portfol.io?</h3>
    <div class="card-panel col s6" style="text-align: left;">
      <p>Portfol.io is a web-based stock market game where you compete against others in creating the highest returning stock portfolio through buying and selling stocks during trading hours and based on real-time market prices.</p>

       <p>You can join a daily or weekly public league, or create a private league of your own! And play in as many leagues as you would like.</p>

       <p>Start playing today!</p>
    </div>
    <div class="app-video col s6">
      <img src="http://www.unblocker.yt/_/img/video_placeholder.jpg">
    </div>
  </div>
</div>

<div class="splash-page more-info">
  <div class="container row">
    <h3 class="title"></h3>


  </div>
</div>

<div class="splash-page team-info">

  <h2 class="title">The Team</h2>
  <div class="row">
    <div class="offset-s1 col s2 ">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars2.githubusercontent.com/u/11836852?v=3&s=400">
        </div>
        <div class="card-content">
          <p><b>Jordan Murphy</b></p>
          <div class="divider"></div>
          <p style="font-style: italic;">Project Owner</p>
          <p>Full-Stack Software Engineer</p>
        </div>
<!--         <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 ">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars2.githubusercontent.com/u/15037331?v=3&s=400">
        </div>
        <div class="card-content">
          <p><b>Ted Hsiao</b></p>
          <div class="divider"></div>
          <p style="font-style: italic;">SCRUM Master</p>
          <p>Full-Stack Software Engineer</p>
        </div>
<!--         <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 ">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars0.githubusercontent.com/u/3604690?v=3&s=400">
        </div>
        <div class="card-content">
          <p><b>Devonte MacGlashan</b></p>
          <div class="divider"></div>
          <br>
          <p>Full-Stack Software Engineer</p>
        </div>
<!--         <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 ">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars3.githubusercontent.com/u/13694461?v=3&s=400">
        </div>
        <div class="card-content">
          <p><b>Sonny Sheth</b></p>
          <div class="divider"></div>
          <br>
          <p>Full-Stack Software Engineer</p>
        </div>
<!--         <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 ">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars0.githubusercontent.com/u/8886742?v=3&s=400">
        </div>
        <div class="card-content">
          <p><b>Jonathon Lo</b></p>
          <div class="divider"></div>
          <br>
          <p>Full-Stack Software Engineer</p>
        </div>
<!--         <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <img hspace="20" height="80" title="AngularJS" src="../assets/img/angular.png">
    <img hspace="20" height="60" title="NodeJS" src="../assets/img/nodeJS.png">
    <img hspace="20" height="40" title="Express" src="../assets/img/express.png">
    <img hspace="20" height="80" title="MySQL" src="../assets/img/mysql.png">
    <img hspace="20" height="80" title="Sequelize" src="../assets/img/sequelize.png">
    <img hspace="20" height="80" title="Materialize" src="../assets/img/materialize.png">
    <img height="80" title="Gulp and Sass" src="../assets/img/gulp-sass.png">
    <img height="80" title="React Native" src="../assets/img/react-logo.svg">
  </div>
</div>
