
<!-- STOCKS MODAL -->
<div class="row">
	<div class="myPortfolio">
		<nav>
	    <div class="nav-wrapper">
	      <a class="brand-logo">My Portfolio</a>
	      <ul class="right hide-on-med-and-down">
	        <!-- <li><a href="sass.html"><i class="material-icons">search</i></a></li> -->
	        <!-- <li><a href="badges.html"><div ui-view="symbol"></div></a></li> -->
	        <li>Portfolio Value: {{ portfolioValue | currency }}   |   Balance: {{ balance | currency }}</li>
	        <li><a ng-click="updateMarketPrice()"><i class="material-icons">refresh</i></a></li>
<!-- 	        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
	      </ul>
	    </div>
	  </nav>
		 <div class="card-panel portfolio-content">
			<table>
				<thead>
					<tr>
						<th>SYMBOL</th>
						<th>QTY</th>
						<th>AVG PRICE PAID</th>
						<th>MARKET PRICE</th>
						<th>RETURN</th>
						<th>SELL</th>
					</tr>
				</thead>
				<tbody>
		      <tr ng-repeat="stock in stocks">
		        <td><span class="company-symbol">{{stock.symbol}}</span>
		        <span class="company-name">{{stock.company}}</span></td>
		        <td>{{stock.shares}}</td>
		        <td>{{stock.price | currency}}</td>
		        <td>{{stock.marketPrice | currency}}</td>
		        <td>{{stock.return | number:3}}%</td>
		        <td><a ng-click="sellStock(stock)"class="btn-floating red sell-button"><i class="material-icons">supervisor_account</i></a></td>
		      </tr>
		    </tbody>
			</table>
		</div>
	</div>
</div>

<!-- TRADING MODAL -->
<div class="row">
	<div class="myPortfolio make-trades">
		<nav>
	    <div class="nav-wrapper">
	      <a class="brand-logo">Make a Trade</a>
	      <ul class="right hide-on-med-and-down">
	      <li class="symbol-button"><div ui-view="symbol"></li>
	        <!-- <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li> -->
	      </ul>
	    </div>
	  </nav>
		 <div class="card-panel portfolio-content">
			<div class="row portfolio-search">
				<article class="col s6">
					<p class="action-title">ENTER STOCK TICKER SYMBOL</p>
					<input ng-model="stockInput" class="col s8" type="text" required>
					<a ng-click="chooseStock(stockInput)" class="waves-effect waves-light btn std-btn col s4"><i class="material-icons">search</i></a>

					<section class="stock-data">
						<section class="col s5">
							<p class="sym">{{stock.Symbol}}</p>
							<p class="comp">{{stock.Name}}</p>
						</section>
						<section ng-if="stock" class="col s7">
							<p class="price">Ask: {{stock.Ask | currency}}</p>
							<p class="perc">Change: {{stock.Change}}</p>
							<p class="perc">% Change: {{stock.PercentChange}}</p>
						</section>
					</section>
				</article>
				<article class="widget-container col s6">
					<p class="action-title">MOST ACTIVE STOCKS</p>
					<!-- HTML WIDGET -->
					<!-- Start FreeStockCharts.com WatchList Widget --><p class="widget" width="100%" align="center"><iframe width="250" height="120" scrolling="no" frameborder="0" style="border:none;" src="//widgets.freestockcharts.com/WidgetServer/WatchListWidget.aspx?sym=BAC,WLL,SIRI,FCX,CHK,EEM,CBK,MSFT&style=WLBlueStyle&w=200"></iframe></p> <!-- End FreeStockCharts.com WatchList Widget -->
					<!-- END OF EIDGET -->
				</article>
				<article class="col s12">
					<div class="divider"></div>
					<div class="switch action-toggle">
				    <label>
				      BUY
				      <input type="checkbox" class="test" ng-model="action">
				      <span class="lever"></span>
				      SELL
				    </label>
				  </div>
				  <div class="divider"></div>

				  <div class="row stock-calculator">
					  <section class="col s4">
					  	<span>NUMBER OF STOCKS: </span>
						  <div class="chip">
						    <input class="stockAmount" ng-change="updateAmounts()" ng-model="stockAmount" required>
						  </div>
					  </section>
					  <section class="col s4">
					  	<span><b>x</b> Est. Price </span>
						  <div class="chip">
						    {{estPrice | currency}}
						  </div>
					  </section>
					  <section class="col s4">
					  	<span><b>+</b> FEES </span>
						  <div class="chip">
						    {{ fees | currency}}
						  </div>
					  </section>
					 </div>

				  <div class="divider"></div>
				  <article>
						<a ng-click='performAction()' class="waves-effect waves-light btn center trade-button std-btn">TRADE FOR A TOTAL OF <span class="larger">{{ total || 0 | currency}}</span></a>
				  </article>



				</article>
			</div>
		</div>
	</div>
</div>
