<div class="container">
<div class="row" style="width: 100%;">
  <div class="col s12 m12" style="overflow-x: auto;">
    <div class="card-panel white">
      <h3>Forum</h3>
      <a ng-click="openModal()" class="waves-effect waves-light btn modal-trigger">Create New Topic</a>
      <div style="overflow-x: auto;">
      <table class="highlight centered" id="createTopicScroll">
        <thead id="top" ng-show="oneTopic()">
          <tr>
              <th data-field="Topic">Topic</th>
              <th data-field="Started By">Created By</th>
              <th data-field="Date Started">Created On</th>
              <th data-field="Replies">Replies</th>
          </tr>
        </thead>


        <tbody>
          <tr ng-repeat="topic in allTopics | orderBy:sortLatest:sortReverse">
            <td><a href="#/topics/{{topic.id}}" style="color: orange">{{topic.title}}</a></td>
            <td>{{topic.creatorName}}</td>
            <td>{{topic.createdAt | date:"longDate"}}</td>
            <td>{{topic.replies}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal Structure -->
<div id="createForumPost" class="modal" style="width: 100%">
  <div class="modal-content">
    <div class="col s12 m12" style="width: 100%;margin-left: auto; margin-right: auto;">
        <div style="padding: 15px;">
          <span class="card-title"><h3>Create a Topic</h3></span>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="topic.title" id="topic-name" type="text" class="validate" required>
                  <label for="topic-name">Topic</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="topic.description" id="topic-description" type="text" class="validate" required>
                  <label for="topic-description">Description</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="createTopic(topic)">Submit
                  <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
 $(document).ready(function(){

    $('.modal-trigger').openModal();
  });
  angular.element("#createTopicScroll")[0].scrollTop=0;

</script>

