<div class="row">
  <div class="col m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Find Ticker Symbol</span>
        <div class="row" style="color: white">
           <div class="input-field">
             <input ng-model="stockName" placeholder="company" id="first_name2" type="text" class="validate" >
             <label class="active" for="first_name2">Stock LookUp</label>
             <a ng-click="getStock(stockName)"class="waves-effect waves-light btn">Find Symbol</a>
             <div>
              <br>
               <p>{{result.name}}</p>
               <h1>{{result.symbol}}</h1>
             </div>
           </div>
          </div>
        </div>
    </div>
  </div>
</div>


