
<!-- leagueResults -->
<div class="row">
	<div class="myPortfolio leagueResults">
		<nav>
	    <div class="nav-wrapper blue darken-3">
	      <a class="brand-logo">League Results</a>
	      <ul class="right hide-on-med-and-down">
<!-- 	        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
	        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li> -->
	        <li>Starting Balance: {{ league.startbalance | currency }}</li>
	        <li><a ng-click="updatePortfolio()"><i class="material-icons">refresh</i></a></li>
<!-- 	        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
	      </ul>
	    </div>
	  </nav>
		 <div class="card-panel portfolio-content">
			<div class="winner">
					<i class="material-icons star">star</i>
					<p class="winnerName">The winner of <i>{{league.name}}</i> is... <br/> <span>{{winner.username}}</span></p>

				<div class="divider"></div>

				<div class="winnerStats">
					<section class="col s3 card-panel">
						<div class="statsHeader red lighten-2">
							<p>Total Value</p>
						</div>
						<span>{{ winner.balance + winner.portfolioValue | currency}}</span>
					</section>
					<section class="col s3 card-panel">
						<div class="statsHeader lime accent-1">
							<p>Most Bought Stock</p>
						</div>
						<span>{{mostShares.symbol}} ({{mostShares.shares}})</span>
					</section>
					<section class="col s3 card-panel">
						<div class="statsHeader blue">
							<p>Net Returns</p>
						</div>
						<span>{{ winner.balance + winner.portfolioValue - league.startbalance | currency}}</span>
					</section>
					<section class="col s3 card-panel">
						<div class="statsHeader green">
							<p>Remaining Balance</p>
						</div>
						<span>{{winner.balance | currency}}</span>
					</section>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- STOCKS MODAL -->
<div class="row">
	<div class="myPortfolio">
		<nav>
	    <div class="nav-wrapper blue darken-3">
	      <a class="brand-logo">My Portfolio</a>
	      <ul class="right hide-on-med-and-down">
<!-- 	        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
	        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li> -->
	        <li>Portfolio Value: {{ winner.portfolioValue | currency }}   |   Balance: {{ winner.balance | currency }}</li>
	        <li><a ng-click="updatePortfolio()"><i class="material-icons">refresh</i></a></li>
<!-- 	        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
	      </ul>
	    </div>
	  </nav>
		 <div class="card-panel portfolio-content">
			<table>
				<thead>
					<tr>
						<th>SYMBOL</th>
						<th>QTY</th>
						<th>PRICE PAID</th>
						<th>MARKET PRICE</th>
						<th>RETURN</th>
						<th>SELL</th>
					</tr>
				</thead>
				<tbody>
		      <tr ng-repeat="stock in stocks">
		        <td><span class="company-symbol">{{stock.symbol}}</span>
		        <span class="company-name">{{stock.company}}</span></td>
		        <td>{{stock.shares}}</td>
		        <td>{{stock.price | currency}}</td>
		        <td>{{stock.marketPrice | currency}}</td>
		        <td>{{stock.return}}%</td>
		        <td><a class="btn-floating red sell-button disabled"><i class="material-icons">supervisor_account</i></a></td>
		      </tr>
		    </tbody>
			</table>
		</div>
	</div>
</div>
