<div class="messages-container container">
  <div class="messages-wrapper">
    <div class="card-panel">
      <div class="row">
        <div class="messages-list col s12 l4 center">
        	<h5 class="center">Inbox</h5>
        	<ul class="collection">
				    <li ng-class="msg.recipientId == sendTo.recipientId ? 'teal lighten-4' : ( !msg.read ? 'teal lighten-5' : '')" ng-repeat="msg in unreadOpenMessages" ng-click="selectSendTo(msg)" class="collection-item avatar clickable">
				      <i class="material-icons circle blue">perm_identity</i>
				      <p class="title blue-text text-left">Direct Message</p>
				      <p class="text-left">From: {{ msg.recipientId == id ? msg.username[0].toUpperCase()+msg.username.slice(1) : msg.recipientUsername[0].toUpperCase()+msg.recipientUsername.slice(1) }}</p>
				      <p class="green-text">{{msg.message}}</p>
				      </p>
				      <a ng-if="!msg.read" class="secondary-content"><i class="material-icons red-text">new_releases</i></a>
				    </li>
				    <p ng-if="!unreadOpenMessages.length">You don't have any messages.</p>
				  </ul>
				 </div>
        <div class="col s12 l8">
        	<h5 class="center">Messages</h5>
        	<div class="messages-area">
        		<p ng-if="!sendTo.username" class="red-text center">Send a message by going to a user's profile page, or replying from your inbox.</p>
        		<p ng-if="sendTo.username">To: {{ sendTo.recipientId == id ? sendTo.username : sendTo.recipientUsername}}</p>
        		<div ng-if="sendTo.username" class="divider"></div>
        		<form ng-submit="sendMessage()">
        		<section class="messages-content">
	        		<div ng-class="message.UserId == id ? 'text-right' : ''" ng-repeat="message in messages">
	        			<p class="chip" ng-class="message.UserId == id ? '' : 'blue  lighten-2'">{{message.message}}</p> 
	        			<span class="msg-details">Sent {{message.createdAt | date:'short' }}</span>
	        		</div>
        		</section>
        		<section class="messages-input">
        			<input ng-model="input" type="text" />
        		</section>
        		</form>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>