<!--
<div class="news-container" style="background-color: white">



  <table class="news-table highlight">
    <caption>Tweets</caption>
    <button ng-click="getTweets()">Tweets</button>
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody ng-repeat="n in tweets">
      <tr>
      <td>
      <p>time: {{n.time}}</p>
      <p>{{n.text}} - {{n.user}}</p>
      </td>
      </tr>
    </tbody>
  </table>

</div>
-->

<div class="news-container">

  <button class= 'btn std-btn' ng-click="getTweets()">Tweets</button>

  <div class = 'row'>
    <div class = 'col s12' ng-repeat="n in tweets">
      <div class = 'card-panel'>

        <p>{{n.time}}</p>
        <p class='twittermessage'>{{n.text}}</p>
        <p class='twitteruser'>{{n.user}}</p>


  </div>
</div>
</div>
