<style>

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>

<div class="row card-panel white" style="width: 100%; margin-bottom:100px">
  <div class="row"><h3>Stock Chart</h3></div>
      <div class="col s12 m4 l3">
          <form ng-submit="getchart(stock); stockinfo(stock)">
                <label>Symbol</label>
                <input ng-model="stock.symbol" placeholder="enter symbol" type="text" class="validate company-symbol">
                <section class="col s6">
                  <span>
                  <label>From:
                  <input id="datepick1" ng-model="stock.start" type="date" class="datepicker">
                  </label>
                  </span>
                </section>
                <section class="col s6">
                  <span>
                  <label>To:
                  <input id="datepick2" ng-model="stock.end" type="date" class="datepicker">
                  </label>
                  </span>
                </section>
                <button class="waves-effect waves-light btn std-btn center">Submit</button>

          </form>

            <table style="margin-top: 10px; background-color: #F0F8FF" ng-show="submitted">
                  <tbody>
                    <tr>
                      <td><b>Price:</b> {{stock.lastprice}}</td>
                      <td><b>P/E:</b> {{stock.pe}}</td>
                    </tr>
                    <tr>
                      <td><b>Market Cap:</b> {{stock.marketcap}}</td>
                      <td><b>Book Value:</b> {{stock.bookvalue}}</td>
                    </tr>
                    <tr>
                      <td><b>50 Day Moving Avg:</b> {{stock['50dayavg']}}</td>
                      <td><b>200 D Moving Avg:</b> {{stock['200dayavg']}}</td>
                    </tr>
                    <tr>
                      <td><b>52 W Low:</b> {{stock['52low']}}</td>
                      <td><b>52 W High:</b> {{stock['52high']}}</td>
                    </tr>
                    <tr>
                      <td><b>EPS:</b> {{stock.earning}}</td>
                      <td><b>Target Price:</b> {{stock.pricetarget}}</td>
                    </tr>
                  </tbody>
            </table>

      </div>
      <div id="wow" class="col s12 m4 l4"></div>
      <div class="col s12 m4 l2"><h1></h1></div>
