<style>

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<div class="col s12 center-align">
  <h1>Stock Chart</h1> 
</div>
<div class="row"><h4></h4></div>
<div class="row"><h4></h4></div>
<div class="row card-panel white" style="width: 100%">
  <div class="row"><h4></h4></div>
      <div class="col s12 m4 l4">

          <form ng-submit="getchart(stock)">
                <label>Symbol</label>
                <input ng-model="stock.symbol" placeholder="Symbol" type="text" class="validate">
                <section class="col s6">
                  <span>
                  <label>Start Date
                  <input id="datepick1" ng-model="stock.start" type="date" class="datepicker">
                  </label>
                  </span>
                </section> 
                <section class="col s6"> 
                  <span>
                  <label>End Date
                  <input id="datepick2" ng-model="stock.end" type="date" class="datepicker">
                  </label>
                  </span>
                </section>
                <button class="waves-effect waves-light btn std-btn center">Submit</button>

          </form>

      </div>
      <div id="wow" class="col s12 m4 l4"></div>
      <div class="col s12 m4 l2"><h1></h1></div>     
</div>

