<div class="preleague-container">
  <div class="myPortfolio">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">No Trading Allowed</b></a>
        <ul class="right hide-on-med-and-down">
<!--          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="badges.html"><i class="material-icons">view_module</i></a></li> -->
          <!-- <li>Portfolio Value: {{ portfolioValue | currency }}   |   Balance: {{ balance | currency }}</li> -->
          <!-- <li><a ng-click="getLeaderBoard()"><i class="material-icons">refresh</i></a></li> -->
<!--          <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
        </ul>
      </div>
    </nav>
     <div class="card-panel portfolio-content center">
     	<p style="text-align: left" ng-if"pre">This league does not start until <span style="color: red">{{leagueInfo.start | date:'longDate'}} at 9:30 AM EST</span>.</p>
       <p ng-if="suspended">The market is currently closed. No trading is allowed</p>
    </div>
  </div>
</div>