

<div class="preleague-container">
  <div class="myPortfolio">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">League: <b>{{leagueName}}</b></a>
        <ul class="right hide-on-med-and-down">
<!--          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="badges.html"><i class="material-icons">view_module</i></a></li> -->
          <!-- <li>Portfolio Value: {{ portfolioValue | currency }}   |   Balance: {{ balance | currency }}</li> -->
          <!-- <li><a ng-click="getLeaderBoard()"><i class="material-icons">refresh</i></a></li> -->
<!--          <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
        </ul>
      </div>
    </nav>
     <div class="card-panel portfolio-content center">
     	<p>This league has not started yet. You will be able create your portfolio and start trading on [INSERT DATE AND COUNTDOWN]</p>
       <p ng-if="suspended">The market is currently closed. No trading is allowed</p>
    </div>
  </div>
</div>