<div class="account-container container">
  <div class="myPortfolio">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Account Settings</b></a>
        <ul class="right hide-on-med-and-down">
        </ul>
      </div>
    </nav>
    <div class="card-panel portfolio-content">
      <div class="row">
        <div class="account-menu col s12 l4 center">
          <div class="collection clickable">
            <a ng-class="active === 'accountInfo' ? 'active' : ''" class="collection-item" ng-click="showAccount()">Account Information</a>
            <a class="collection-item" ng-href="/#/profiles/{{id}}">View Profile</a>
            <a ng-class="active === 'updatepw' ? 'active' : ''" class="collection-item" ng-click="editPW()">Update Password</a>
            <a ng-class="active === 'editEmail' ? 'active' : ''" class="collection-item" ng-click="editEmail()">Edit Email</a>
            <a ng-class="active === 'editLeagues' ? 'active' : ''" class="collection-item" ng-click="editLeagues()">Manage Leagues</a>
            <a class="collection-item red-text" ng-click="delete()">DELETE ACCOUNT</a>
          </div>
        </div>
        <div class="col s12 l8">
          <div ng-if="active === 'accountInfo'">
            <h5 class="center">Account Information</h5>
            <ul class="collection">
              <li class="collection-item">Username: {{user.username}}</li>
              <li class="collection-item">Email: {{user.email}}</li>

              <li class="collection-item">Leagues Created: {{leagues.length}}</li>

              <li class="collection-item"><p>Profile Photo:</p>
                <span id="uploadbox">
                  <img ng-show="!file" src="{{ image || './../assets/img/no-avatar.png' }}">
                  <img ng-show="file" ngf-thumbnail="file" width="200px">
                </span>
                <br>
                <br>
                <div ng-claok  ng-show="!image"><md-button class="btn waves-effect waves-light" ngf-select="upload($file)">Upload Profile Photo</md-button></div>
                <div ng-claok ng-show="image"><md-button class="btn waves-effect waves-light" ngf-select="upload($file)">Upload New Profile Photo</md-button></div>
              </li>

            </ul>
          </div>
          <div ng-if="active === 'editEmail'">
            <h5 class="center">Edit Email</h5>
            <form ng-submit="updateEmail(newemail)">
              <input ng-model="newemail.email" id="email" type="email" class="validate">
              <label for="email">New Email</label>
              <input ng-model="newemail.confirmemail" id="email" type="email" class="validate">
              <label for="email">Confirm New Email</label>
              <input ng-model="newemail.password" id="email" type="password" class="validate">
              <label for="password">Current Password</label>
              <div class="buttons center">
              <input class="waves-effect waves-light btn" type="submit" value="Submit">
              <a class="waves-effect waves-light btn" ng-click="cancel()">Cancel</a>
              </div>
            </form>
          </div>
          <div ng-if="active === 'updatepw'">
            <h5 class="center">Update Password</h5>
            <form ng-submit="updatePW(newpw)">
              <input ng-model="newpw.oldpw" id="email" type="password" class="validate">
              <label for="email">Old Password</label>

              <input ng-model="newpw.newpw" id="email" type="password" class="validate">
              <label for="password">New Password</label>

              <input ng-model="newpw.confirmnewpw" id="password" type="password" class="validate">
              <label for="password">Confirm New Password</label>

              <div class="buttons center">
                <input class="waves-effect waves-light btn" type="submit" value="Submit">
                <a class="waves-effect waves-light btn" ng-click="cancel()">Cancel</a>
              </div>
            </form>
          </div>
          <div ng-if="active === 'editLeagues'">
            <h5 class="center">Manage Leagues</h5>
            <!-- league selection -->
            <ul ng-if="!editMode" class="collection">
              <li ng-repeat="league in leagues" class="collection-item avatar">
                <img src="../assets/img/money.png" alt="" class="circle">
                <span class="title">{{ league.name}} <span class="red-text" ng-if="league.private">(PRIVATE) - code: {{ league.code }}</span></span>
                <p>Max Users: {{ league.maxNum }}</span><br>
                   Starting Balance: {{ league.startbalance }}
                </p>
                <a ng-click="selectLeague(league)" class="secondary-content clickable"><span class="teal-text">EDIT</span></a>
              </li>
              <li class="center" ng-if="!leagues.length">You have no leagues to manage, yet. Create one!</li>
            </ul>

            <form ng-if="editMode">
              <button ng-click="toggleEditMode()" class="waves-effect waves-light btn std-btn center teal"><i class="material-icons">fast_rewind</i><span class="material-icons-span">BACK</span></button>
              <br>
              <label>Name:</label><br>
              <input type='text' ng-model='currentLeague.name' required>
              <br>
              <label>Max User #: </label><br>
              <input type="text" ng-model='currentLeague.maxNum' required>
              <br>
              <label>Buying Power: </label><br>
              <input type="text" ng-change="ll()" ng-model='currentLeague.startbalance' required>
              <br>
              <label>Start: </label><br>
              <input type="date" id="startdate" ng-model='currentLeague.start' ng-click="pickstart()" format-date>
              <label>End Date: </label><br>
              <input type="date" id="enddate" ng-model='currentLeague.end' ng-click="pickend()" format-date>
              <span>
                <input name="isPrivate" ng-model="currentLeague.private" ng-value="false" type="radio" id="test1" />
                <label for="test1">Public League</label>
              </span>
              <span>
                <input name="isPrivate" ng-model="currentLeague.private" ng-value="true" type="radio" id="test2" />
                <label for="test2">Private League</label>
              </span>
              <div ng-if="currentLeague.private">
                <input id="rehash" type="checkbox" ng-model="currentLeague.rehash" />
                <label for="rehash">Rehash Code</label>
              </div>
              <br />
              <div class="submit-container">
                <button ng-click='editLeague()' type="submit "class="waves-effect waves-light btn std-btn center">Update League</button>
                <button ng-click='deleteLeague()' class="waves-effect waves-light btn std-btn center">Delete League</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>