<!-- <h1 style="background-color: white">LEADERBOARD</h1> -->

<div class="leaderboard-container">

  <table class="leaderboard-table highlight">
    <caption>LEADERBOARD</caption>
    <button ng-click="getLeaderBoard()">Refresh</button>
    <thead>
      <tr>
          <th data-field="user">Ranking</th>
          <th data-field="user">Name</th>
          <th data-field="value">Total Value</th>
          <th data-field="trades"># of Trades</th>

      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="portfolio in portfolios | orderBy:'-balance+portfolioValue' track by $index">
        <td class="tdcenter">{{$index + 1}}</td>
        <td class="tdcenter">{{portfolio.username}}</td>
        <td class="tdcenter">{{portfolio.balance + portfolio.portfolioValue  | currency : symbol : fractionSize}}</td>
        <td class="tdcenter">{{portfolio.numOfTrades}}</td>
      </tr>
    </tbody>
  </table>

</div>
