

<div class="watchlist" style="padding-bottom: 100px">
	<h1>Watchlist</h1>
	<table class="highlight centered" id="createTopicScroll" >
        <thead id="top">
          <tr>
              <th data-field="Symbol">Symbol</th>
              <th data-field="Price">Price ($)</th>
              <th data-field="Open">Open ($)</th>
              <th data-field="Close">Close ($)</th>
              <th data-field="DaysRange">Days Range ($)</th>
              <th data-field="DayChange">Day Change ($)</th>
              <th data-field="52Range">52 week Range ($)</th>
              <th data-field="Action">Action</th>
          </tr>
        </thead>

        <tbody ng-repeat="result in results">
        	<tr>
        		<td>{{result[0]}}</td>
        		<td>{{result[1] | number:2}}</td>
        		<td>{{result[2] | number:2}}</td>
        		<td>{{result[3] | number:2}}</td>
        		<td>{{result[5] }}</td>
        		<td>{{result[4] }}</td>
        		<td>{{result[6] }}</td>
            <td ng-show='result[1]'><button ng-click='removeFromWatchlist(result[0])'>X</button><button ng-click='sendToChart(result[0])'>Chart</button>
        	</tr>

        </tbody>
    </table>




</div>