<div class="row" style="width: 100%;">
  <div class="col s12 m12" style="overflow-x: auto;">
    <div class="card-panel white">
      <h3>Watchlist</h3>
      <div style="overflow-x: auto;">
      <table class="highlight centered" id="createTopicScroll">
        <thead id="top">
          <tr>
              <th data-field="Symbol">Symbol</th>
              <th data-field="Price">Price ($)</th>
              <th data-field="Open">Open ($)</th>
              <th data-field="Close">Close ($)</th>
              <th data-field="DaysRange">Days Range ($)</th>
              <th data-field="DayChange">Day Change ($)</th>
              <th data-field="52Range">52 week Range ($)</th>
              <th data-field="Action">Action</th>
          </tr>
        </thead>


        <tbody ng-repeat="result in results">
          <tr>
            <td>{{result[0]}}</td>
            <td>{{result[1] | number:2}}</td>
            <td>{{result[2] | number:2}}</td>
            <td>{{result[3] | number:2}}</td>
            <td>{{result[5] }}</td>
            <td>{{result[4] }}</td>
            <td>{{result[6] }}</td>
            <td ng-show='result[1]'>
            <a style="cursor: pointer;" ng-click='sendToChart(result[0],delay)'>View Chart</a>  |
            <a style="cursor: pointer;" ng-click='removeFromWatchlist(result[0])'>Remove</a>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>