<div class="row card-panel z-index-6">
  <div class="col s12 m10">
    <div>

      <h2>Badges</h2>

      <div>
        <div class="row">
          <div class="col s2" ng-repeat="badge in badges">
            <div class="card-panel red lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip={{badge.name}}>
              <i class="material-icons medium">{{badge.icon}}</i>
            </div>
          </div>
        </div>
      </div>

      <h2>Possible Badges</h2>

      <div class="col s2" ng-repeat="badge in possibleBadges">
        <div class="card-panel blue-grey lighten-4 tooltipped" data-position="top" data-delay="50" data-tooltip={{badge.name}}>
          <i class="material-icons medium">{{badge.icon}}</i>
        </div>
      </div>
    </div>
  </div>
</div>
