<div class="row">
  <div class="myPortfolio col s12 m10">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Badges Earned</a>
      </div>
    </nav>

    <div class="card-panel" ng-mouseenter="tooltipper()" ng-mouseleave="removeTooltips()">
      <div>
        <div>
          <div class="row" >
            <div class="col s6 m2" ng-repeat="badge in badges">
              <div  class="tooltipped badge-ribbon z-depth-5" data-position="top" data-delay="50" data-tooltip={{badge.name}}>
                <i class={{badge.icon}}></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Possible Badges</a>
      </div>
    </nav>
    <div class="card-panel" ng-mouseenter="tooltipper()" ng-mouseleave="removeTooltips()">
      <div>
        <div>
          <div class="row" >
            <div class="col s6 m2" ng-repeat="badge in possibleBadges">
              <div  class="tooltipped possible-badge-ribbon z-depth-5" data-position="top" data-delay="50" data-tooltip={{badge.name}}>
                <i class={{badge.icon}}></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
